body{
    font-family: serif;
    background: url(../image/bag-img.png);
}
/* .wrapper{
    background: url(../image/bag-img.png);
} */
.container{margin: 0 auto;}

.wd-header-top {
    background: rgba(0,0,0,0.8);
}
.container_fixed{
    z-index: 5;
    width: 100%;
}
.fixed{
    position: fixed;
    z-index: 5;
    width: 100%;
    opacity: 0.9;
    background: url(../image/nav-bg.jpg) repeat;
    top: 0;
    box-shadow: 15px;
}
.menu-wrap{

}
/* code cho phần các icon như email, đăng nhập đăng xuất */
.wd-contact {
    float: left;
}
.wd-contact i.format-icon {
    padding-left:10px;
    color:#fff;
    font-size:15px;
    padding-right:5px;margin-top:10px;
}
/* code cho phần tìm kiếm */
.wd-search {
    float: right;
}
#custom-search-form {
        margin:0;
        margin-top:5px;
        padding: 0;
    }
#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: width  0.2s ease-in-out;
    -moz-transition:width  0.2s ease-in-out;
    -o-transition: width  0.2s ease-in-out;
    transition: width  0.2s ease-in-out;
}
#custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.search-query:focus + button {
    z-index: 3;   
}   
.search-query:focus{
    width: 250px;
}
/* css cho logo */
.logo{
    margin:18px 0;
}
.logo img{
        width: 150px;
    }


/* css cho menu */
.detail-menu {
    margin: 0;
    padding: 0;
    margin-top:25px;
    margin-bottom: 15px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
}
.navbar-default {
    background-color:transparent;
    border: none;
}
.navbar-header a {
    float: left;
    font-size: 16px; 
    font-family: "Time News Roman";
    font-weight: bold;
    line-height: 20px;

}
.navbar-default .navbar-brand:hover{
    background: #e7e7e7;
}
.aaa{
    display: none;
}
@media(max-width: 770px){
    .aaa{
        display: inline;
        margin-bottom: 30px;
    }
}
.navbar ul li:hover{
    background-color: #e7e7e7;
    border-bottom: solid 1px #000;
    transition: 0.3s;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
ul.navbar-nav>li>a {
    padding-bottom: 14px;
    padding-top: 15px;
}
.nav>li>a{
    padding:10px 26px;
    font-size: 15px;
    font-family: "Time News Roman"; 
}
/* code cho slider */
.wd-slider{
    height: 400px;
    margin: 0;
    padding: 0;
}
.camera_prev > span {
    background: url(../image/camera_skins.png) no-repeat 0 0;
    display: block;
    height: 40px;
    width: 40px;
}
.camera_next > span {
    background: url(../image/camera_skins.png) no-repeat -40px 0;
    display: block;
    height: 40px;
    width: 40px;
}
.camera_loader {
    background: url(../image/camera-loader.gif) no-repeat center;
}
/* code cho catelogies */
.wd-catelogies{
    margin-top:65px;
}
.wd-catelogies .wd-bg{
    background: url(../image/bg-img.png);
    height: 320px;
}
.wd-catelogies .div-img{
    height: 320px;
    width: auto ;
    margin-top: 20px;
}
.wd-catelogies .div-img img {
    width: 100%;
    height: 100%;
}
.wd-catelogies .detail-text{
    height: 90px;
    position: relative;
    width: auto;
    background: #191717;
    opacity: 0.7;
    top: -186px;
}
.wd-catelogies .detail-text p{
    font-weight:bold;
    color:#fff;
    font-size: 14px;
    font-family: "Time News Romain" ;
    padding: 25px 5px;
}
.format-col2{
    padding-right: 0;
}
.wd-catelogies .detail-catelogies ul{
    margin:20px 0;
}
.wd-catelogies .detail-catelogies ul li{
    list-style: none;
    font-size: 20px;
    font-family: "Time News Romain";
    color: #080808;
}
.wd-catelogies .detail-catelogies ul li a{
    text-decoration: none;
    font-family: "Time News Romain" ;
    font-size: 16px;
    line-height:26px; 
    color: #fff;
}
.wd-catelogies .detail-catelogies ul li a.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #fff;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}
/* code css cho phần giới thiệu */
.main-wrap{
    margin-top: 75px;
    margin-bottom:50px;
}
.main-wrap a img.img{
    width: 100%;
    height: 156px;
    border: solid 1px #848383;
    padding: 3px;
    color: #888;
}
.main-wrap span{
    font-size:14px;
    color:  #676161;
    font-family: "Time News Romain"
}
.main-wrap .paragraph .text-para {
    font-size:20px;
    color: #2a2a2a;
    padding:0px;
    line-height: 27px;
    font-family: "Time News Romain"
}
.format-col3{padding-left: 0;}
/* code cho slider bamboo products */

.block_new{
    margin:50px 0;
}

.title {
    font-size: 30px;
    color: #8d2424;
    font-family: serif;
    text-align: center;
    border-bottom: dashed 1px #8d2424;
    height: 45px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.h2-title {
    font-size: 25px;
    color: #517936;
    font-family: arial;
    margin-top: 0;
}
.center{
    text-align: center;
}

.detail-pro{
    width:100%;
    border: solid 1px;
    color: #d3d3d3;
    text-align: center;
    cursor: pointer;
}
.detail-pro .view-img{
    width: 0 auto;
    height: 200px;
}
.detail-pro .view-img .img-large {
    width:100%;
    height:100%;
    padding: 5px;
    text-align: center;

}
.detail-pro .name-pro{
    font-size: 16px;
    font-family: "Time News Romain";
    color:#666;
    text-align: center;
    padding: 50px 0 15px;
}
.detail-pro .price-pro{
    font-size: 18px;
    font-family: "Time News Romain";
    color:#8d2424;
}
.detail-pro .view {
    margin: 20px 0 10px;
}
.detail-pro .view a{
    display: inline-block;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: transparent;
    border: solid 1px ;
    color: #6B6363;
    font-family: "time news romain";
    font-size: 17px;
    text-decoration: none;
  
}
.block_new  button.slick-prev{
    background-position: -129px -60px; 
    left:-22px;
    background: url(../image/prev.png) no-repeat;
    width: 23px; 
    height: 23px; 
    border: none; display: block;
    text-indent: -9999px; 
    position: absolute;
    top:204px;
    cursor: pointer;
}
.block_new  button.slick-next{
    background-position: -160px -60px;
    right: -8px;
    background: url(../image/next1.png) no-repeat;
    width: 23px;
    height: 23px;
    border: none;
    display: block;
    text-indent: -9999px;
    position: absolute;
    top: 204px;
    cursor: pointer;
}
.view-all{
    text-align: center;
}
.view-all a{
    display: inline-block;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: #F5F5F5;
    border: solid 1px ;
    color: #6B6363;
    font-family: "time news romain";
    font-size: 17px;
    text-decoration: none;
    position: relative;
    top: -40px;
}
hr{border:1px solid #E7E7E7;margin-right: 5px;}

/* code phần công trình đang thi công ihoverimg*/
.ih-item.square {
    position: relative;
    width: 100%;
    height: 216px;
    border: 8px solid #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

/* code cho phần tin tức và sự kiệm */
.detail-news{
    text-align: center;
}
.detail-news h4{
    font-size: 18px;
    font-family: "Time News Romain";
    color:#2b2b2b;
    text-align: center;
    padding: 10px;
}
.detail-news p{
    font-size: 19px;
    font-family: "Time News Romain";
    color:#6e6c6d;
    text-align: justify;
    padding: 5px;
    height: 116px;
    overflow: hidden;
}

/* code cho phần đối tác */
.partner-wrap{
    margin-top: 75px;
    margin-bottom:50px;
}
.partner-wrap a img{
    border-radius: 100%;
    border: solid 1px #2a2a2a;
    height: 150px;
    width: 95%;
}
/* code css cho biểu đồ footer */
.map{
    width:90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.map h4{
    font-size: 18px;
    color:#2b2b2b;
    text-align: left;
    text-transform: uppercase;
    padding-top:0;
}
.map p{
    font-size: 17px;
    color:#6e6c6d;
    text-align: justify;
  line-height: 20px;
}
strong{
    font-family: serif;
    font-size:22px;
    padding-bottom:  20px;
    display: inline-block;
};
/* code css cho phần mạng xã hội */
.map a {}
.map a img {
    margin-right: 15px;
    height: 30px;
    margin-top:20px; 
}
/* css cho phần icon liên hệ */
.map a img:hover {
    -webkit-transition: all 2s ease;
    -webkit-transform: rotate(360deg);
}
.map iframe{
    max-width: 100%;
}

/* Responsive */
@media(max-width: 1200px){
    .nav>li>a{
    padding:10px 14px;
    }
}

 @media (max-width: 950px){
    .aaa img{
        width:80%;
    }
} 
@media(max-width: 1024px){
    .wd-contact i.format-icon {
    font-size:14px;}

   .main-wrap .paragraph .text-para {
    font-size: 17px;
    color: #2a2a2a;
    padding: 0px;
    line-height: 27px;
    font-family: "Time News Romain";
    height: 111px;
    overflow: hidden;}

    .title {
    font-size: 20px;
    color: #8d2424;
    font-family: serif;
    text-align: center;
    border-bottom: dashed 1px #8d2424;
    height: 45px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;}

    .main-wrap span {
    font-size: 12px;
    display: inherit;
    }

    .ih-item.square {
    position: relative;
    width: 100%;
    height: 150px;
    border: 8px solid #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;}

    .detail-news p {
    font-size: 16px;
    font-family: "Time News Romain";
    color: #6e6c6d;
    text-align: justify;
    padding: 5px;
    height: 116px;
    overflow: hidden;}
}
@media(max-width: 770px){
    .logo{
        margin: 0;
    }
    .logo img{
        display: none;
    }
    .ih-item.square {
        position: relative;
        width: 100%;
        height: 150px;
        border: 8px solid #fff;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        margin-bottom: 15px;}

    .ih-item.square.effect6 .info h3{
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        font-size: 13px;
        padding: 10px;
        background: #111111;
        margin: 30px 0 0 0;
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;}

    .main-wrap a img.img {
        width: 65%;
        height: 156px;
        border: solid 1px #848383;
        padding: 3px;
        color: #888;
        margin-top: 15px;
    }


    .h2-title {
        font-size: 20px;
        margin-top: 20px;
    }

    .wd-catelogies .div-img{
        height: 320px;
        width: auto ;
        margin-top: 20px;
    }
    .wd-catelogies .div-img img {
        width: 100%;
        height: 100%;
    }
    .wd-catelogies .detail-text{
        height: 90px;
        position: relative;
        width: auto;
        background: #191717;
        opacity: 0.7;
        top: -186px;
    }
    .wd-catelogies .detail-text p{
        font-weight:bold;
        color:#fff;
        font-size: 14px;
        font-family: "Time News Romain" ;
        padding: 25px 5px;
    }

}
@media(max-width: 670px){

     .list-inline>li {
        display: table;
        padding-right: 5px;
        padding-left: 5px;
    }
    .wd-search {
        float: left;
        margin-left:10px;
    }
}

@media(max-width: 500px){
    .main-wrap a img.img{
        width: 90%;
        height: 156px;
        border: solid 1px #848383;
        padding: 3px;
        color: #888;
    }

    .ih-item.square {
        position: relative;
        width: 100%;
        height: 102px;
        border: 8px solid #fff;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        margin-bottom: 15px;
    }

    .list-inline>li {
        display: table;
        padding-right: 5px;
        padding-left: 5px;
    }
}

